In [ ]:
# print the type of x,y,z

x = 1  
y = 2.8  
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Convert flot into int 

x=1.4
x=int(x//1.4)
print(x)

1

In [ ]:
#Convert from one type to another:

x = 5   # int
y = 3.8  # float
z = 5j   # complex

#convert from int to float:
x=float(5)
print(x)
#convert from float to int:
y=int(3.8)
print(y)
#convert from int to complex:
z=complex(5j)
print(z)

5.0
3
5j

In [ ]:
# Print 15 random numbers

import 
print(random.randrange(1, 15) )

In [ ]:
# Convert int ,float to string 

x = str("t5") 
y = str(4)    
z = str(6.0)
print(type(x))
print(type(y))
print(type(z))
converted_x = str(x)
converted_y = str(y)
converted_z = str(z)
print(type(converted_x))
print(type(converted_y))
print(type(converted_z))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Assign a string to variable 

a="hello"
print(a)

hello

In [ ]:
# Concatenate two string 
a="Hello raj?"
b="Hi Manish."
c="How are you."
d="I am fine."
print(a)

Hello raj?

In [ ]:
# Print the output='lo, Wor'
a = "Hello, World!"
print(a[3:6],a[-6:-3])

lo, Wor

In [ ]:
# Check the required string/word is in the sentence of not

Sentence="Hello Indian , I like you culture."

print(like in ________)

In [ ]:
# Print the output='I Love'
Sentence="I Love India!"
print(Sentence[0:6])

I Love

In [ ]:
#print the output: 
#I want to pay 49.95 dollars for 3 pieces of item 567

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {1} pieces of item {0}."
print(myorder.format(price,quantity, itemno))

I want to pay 567 dollars for 3 pieces of item 49.95.

In [ ]:
# remove the error
Sent = "We will vist \"America\" after two days."
print(Sent)

We will vist "America" after two days.

In [ ]:
# Print the sentence after comma in next line 
Sent=" Hii Mona , \nWhen will we go for holidays ?  "
print(Sent)

 Hii Mona ,
When will we go for holidays ?

In [ ]:
# Remove the duplicate from the list 
List=["Ram",'Sam','Nick','Sam']
List=list(set(List))
print(List)

['Sam', 'Nick', 'Ram']

In [1]:
# Print last for element of list by negative Indexing 

Fruit_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruit_list[-1])

mango

In [ ]:
# Replace the first Sam from Micky
List=["Ram",'Sam','Nick','Sam']
List.pop(1)
print(List)

['Ram', 'Nick', 'Sam']

In [ ]:
# Insert the Micky at 3rd index
List=["Ram",'Sam','Nick','Sam']
List[3]="micky"
print(List)

['Ram', 'Sam', 'Nick', 'micky']

In [ ]:
# Insert Kiwi in a tuple

x = ("apple", "banana", "cherry")
y = list(x)
y.append("kiwi")
x = tuple(y)

print(x)

('apple', 'banana', 'cherry', 'kiwi')

In [ ]:
# Add item in set

Fruits = {"apple", "banana", "cherry"}

Fruits.add("mango")

print(Fruits)

{'cherry', 'apple', 'mango', 'banana'}

In [ ]:
# Add two set
Fruit1 = {"apple", "banana", "cherry"}
Fruit2 = {"pineapple", "mango", "papaya"}
F=Fruit1.union(Fruit2)
print(F)

{'apple', 'banana', 'mango', 'papaya', 'cherry', 'pineapple'}

In [2]:
# Remove the any item from the set
 set1={"Krishh","Prince","KUmar"}
 del set1("krishh")
 print(set1)

IndentationError: ignored

In [5]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
Bike = {
"brand": "Bajaj",
"model": "TVS",
"year": 2013
}

x = Bike.keys()

print(x) #before the change

Bike[220] = "pulsar"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 220])

In [8]:
#Update the item from the Dict
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
Car[2020]="Baleno"
print(Car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 2020: 'Baleno'}

In [14]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop('year')
print(car)

{'brand': 'Ford', 'model': 'Mustang'}